h1 {
  text-align: center;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: xx-large;
  padding: 20px;
  color: white;
  background-color: midnightblue;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 65%;
}

form.example button {
  width: 17%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
}

#dayOne {
  float: left;
  margin-right: 50px;
  padding: 20px;
}

#dayTwo {
  float: left;
  margin-right: 50px;
  padding: 20px;
}

#dayThree {
  float: left;
  margin-right: 50px;
  padding: 20px;
}

#dayFour {
  float: left;
  margin-right: 50px;
  padding: 20px;
}

#dayFive {
  float: left;
  margin-right: 50px;
  padding: 20px;
}

.recentCities {
  display: none;
}

.recentSearches {
  display: none;
}